@font-face {
  font-family: 'effra';
  src: url('../fonts/effra-regular.eot');
  src: url('../fonts/effra-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/effra-regular.woff') format('woff'),
        url('../fonts/effra-regular.ttf') format('truetype'),
        url('../fonts/effra-regular.svg#effraregular') format('svg');
}
