.primary_navigation,
.secondary_navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  color: var(--white);
}

.primary_navigation__item,
.secondary_navigation__item {
  margin-left: 10px;
}

.primary_navigation__link,
.secondary_navigation__link,
.primary_navigation__link:visited,
.secondary_navigation__link:visited,
.primary_navigation__link:active,
.secondary_navigation__link:active {
  text-decoration: none;
  color: var(--white);
}
